.error-container {
  box-sizing: border-box;
}

.error-message {
  top: -5em;
  position: absolute;
  border: 1px solid;
  padding: 12px;
  color: #D8000C;
	background-color: #FFBABA;
}

.success-container {
  box-sizing: border-box;
}

.success-message {
  top: -5em;
  position: absolute;
  border: 1px solid;
  padding: 12px;
  color: #4F8A10;
  background-color: #DFF2BF;
}

/* Loading Css */

.loading-sentence{
  margin-top: 2em;
  margin-bottom: -4em;
  text-align: center;
}

.lds-spinner {
  left: 45%;
  top: 10em;
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* loading end */

.title {
  position: absolute;
  left: 19.5em;
  top: 6em;
  color: #fff;
}

.nav-bar-container {
  z-index: 1;
  margin-top: -1em;
  background-color: #2b2b2b;
  width: fill;
  position: fixed;
  overflow: hidden;
}

.nav-bar-container a {
  list-style: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  transition-duration: 0.5s;
}

.nav-bar-container a:focus {
  color: aquamarine;
}

.nav-bar-container a:hover {
  border-radius: 12%;
  color: #3D8BD0;
  background-color: black;
}

.head-img-banner {
  margin-top: -27em;
  width: 100%;
}

.head-img-banner-saved {
  width: 90em;
  width: 100%;
  height: auto;
  margin-top: -20em;
}

/* news card */

.view-count {
  text-align: right;
}

body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}
body * {
  box-sizing: inherit;
}
p, h1 {
  margin: 0; padding: 0;
}

 body, .text-light-black {
   color: rgba(0,0,0,0.6);
}
.text-black {
  color: rgba(0,0,0,0.9);
}
.text-muted {
  color: rgba(0, 0, 0, 0.3);
}

.text-uppercase {
  font-size: 12px;
  text-transform: uppercase;
}
.ff-serif {
  font-family: 'Lora', serif;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

.lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}

.bg-white {
  background-color: #fff;
}

.card-description {
  font-size: 13px;
}

.small {
  font-size: 0.75rem;
}
.card-heading {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 700;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #2196fe;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}

.float-right{
  float: right;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

@media only screen and (max-width: 1070px) {
  .card-description {
    font-size: 9px;
  }

  .border-bottom-coverage {
    margin-right: 50% !important;
  }

  .card-heading {
    font-size: 12px;
  }

  .styled-link {
    font-size: 8px;
  }

  .view-count {
    font-size: 9px;
  }

  .wrapper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .radio-checkbox-container {
    margin-top: 2em;
  }

  .showNews-category {
    font-size: 12px;
  }

  .news-title {
    font-size: 17px !important;
  }
}

@media only screen and (max-width: 500px) {
  .news-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 98% !important;
  }

  .underline-newsShow {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

@media only screen and (max-width: 730px) {
  .showNews-container {
    width: 100% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }

  .radio-checkbox-container {
    margin-bottom: 25px !important;
  }
}

@media only screen and (max-width: 550px) {
  .radio-checkbox-container {
    margin-bottom: 55px !important;
    margin-top: 5em !important;
  }

  .loading-sentence{
    margin-top: 7em;
  }
}

.card {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin: 1em 1em 1em 1em;
  display: inline-block;
  width: 85%;
  overflow: hidden; 
  border-radius: 1px;
}

.border-bottom-coverage {
  border-bottom: lightgrey 1px solid;
  margin-right: 35%;
}

.wrapper {
  -webkit-column-width: 350px;
  -moz-column-width: 350px;
  column-width: 350px;
	-webkit-column-gap: 1px;
	-webkit-column-fill: auto;
	-moz-column-gap: 1px;
	-moz-column-fill: auto;
	column-gap: 1px;
	column-fill: auto;

  margin-left: 1em;
}

.saveTag {
  cursor: pointer;
  float: right;
  position: absolute;
  bottom: 3.78em;
  left: 70%;  
  font-size: 19px;
}

/* end */

/* News Show */

.showNews-container {
  letter-spacing: 0.1px;
  padding-top: 6em;
  padding-bottom: 3em;
  margin-left: 16%;
  width: 70%;
  box-sizing: border-box;
}

.headerobjectswrapper {
  padding-bottom: 20px;
  margin-left: 3em;
  margin-right: 1.8em;
  text-indent: -2.8em!important;
}

.media {
  height: auto;
  width: 95%;
}

.initial-letter {
  font-size: 33px;
  font-weight: 800;
  line-height: 70px;
}

.underline-newsShow {
  border-bottom: lightslategrey 1px solid;
  margin-left: 3em;
  margin-right: 7em;
  margin-top: 1em;
}

.news-content, .headline, .subhead {
  margin-top: 15px;
  margin-left: 3em;
  margin-right: 3em;
  word-spacing: 2px;
  line-height: 25px;
}

.showNews-category {
  float: right;
  margin-top: 9%;
  margin-right: 10%;
}

.news-title {
  color: black;
  margin-left: 1.8em;
  font-size: 170%;
  font-weight: 900;
}


.btn-container {
  margin-top: 3em;
  margin-left: 1.6em;
}

.save-btn, .link-btn {
  font-size: 0.9em;

  color: #8D8D8D;
  font-weight: 900;
  padding: 14px;
  border: none;
  border-radius: 4%;
  margin-left: 1.5em;
  background-color: #F0F0F0;
  transition-duration: 0.5s;
}

.save-btn:hover, .link-btn:hover {
  color: white;
  font-weight: 900;
  padding: 14px;
  border: none;
  border-radius: 4%;
  margin-left: 1.5em;
  background-color: lightskyblue;
  transition-duration: 0.5s;
}

.saved-btn {
  pointer-events: none;
  font-size: 0.9em;
  font-weight: 900;
  padding: 14px;
  border: none;
  background-color: lightskyblue;
  color: white;
  border-radius: 4%;
  margin-left: 1.5em;
}

/* end */

/* Scrapbook News Show */

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

*,
:before,
:after {
    box-sizing: border-box;
}

.author {
  text-align: right;
}

#container {
  margin-left: -9em;
  transform: scale(0.85);
  margin-top: 1em;
}

.scrapbooknews-img {
  padding-left: 6em;
}

#book-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    float: left;
    padding: 1em;
    width: 100%;
}

.open-book {
    background: #fff;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    color: #000;
    padding: 2em;
}

.open-book * {
    position: relative;
}

/* Header/Footer */
.open-book header {
    padding-bottom: 1em;
}

.open-book header *,
.open-book footer * {
    font: 700 1em/1.25 'Playfair Display', sans-serif;
    letter-spacing: 0.125em;
    margin: 0;
}

.open-book header * {
    font-size: 0.75em;
    text-transform: uppercase;
}

.open-book footer {
    padding-top: 1em;
}

.open-book footer #page-numbers {
    display: none;
    list-style: none;
    padding: 0;
    text-align: left;
}

.open-book footer #page-numbers > li:last-child {
    text-align: right;
}

/* Chapter Title */
.open-book .chapter-title {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
    background-size: 0.5em 0.5em;
    font: 700 7vw/1.25 'Playfair Display', sans-serif;
    letter-spacing: 0.125em;
    margin: 0 0 1em 0;
    padding: 1em 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.open-book .chapter-title:before,
.open-book .chapter-title:after {
    border: solid 0 #000;
    border-width: 0.05em 0;
    bottom: calc((0.125em / 2) * 3);
    content: '';
    height: 0.15em;
    position: absolute;
    width: calc(50% - (1em / 2));
}

.open-book .chapter-title:before {
    left: 0;
}

.open-book .chapter-title:after {
    right: 0;
}

/* Body Copy */
.open-book article {
    line-height: 1.5;
}

.open-book article *:not(.chapter-title):not(hr):not(dl) {
    margin: 0 auto;
    max-width: 28.125em;
}

.open-book article p {
    text-indent: 2em;
}

.open-book .chapter-title + p:first-of-type {
    text-indent: 0;
}

.open-book .chapter-title + p:first-of-type:first-letter {
    float: left;
    font: 700 3em/0.65 'Playfair Display', sans-serif;
    padding: 0.15em 0.05em 0 0;
    text-transform: uppercase;
}

.open-book article > ul,
.open-book article > ol {
    padding-left: 3em;
}

.open-book article > ul ul {
    padding-left: 1em;
}

.open-book a {
    background-size: auto 0.25em;
    color: inherit;
    text-decoration: none;
}

.open-book s,
.open-book strike {
    background-size: auto 0.5em;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

.open-book sup {
    color: #cc0000;
    font-family: 'Rock Salt', cursive;
    left: 0;
    margin-top: -1em!important;
    max-width: 100%!important;
    position: absolute;
    text-align: center;
    width: 100%;
}

.open-book mark {
    background: linear-gradient(to bottom, rgba(222,255,0,1) 0%,rgba(222,255,0,0.5) 60%,rgba(222,255,0,1) 100%);
}

.open-book mark.pink {
    background: linear-gradient(to bottom, rgba(255,69,190,1) 0%,rgba(255,107,203,0.5) 60%,rgba(255,107,203,1) 100%);
}

.open-book mark.blue {
    background: linear-gradient(to bottom, rgba(73,179,255,1) 0%,rgba(107,193,255,0.5) 60%,rgba(107,193,255,1) 100%);
}

.open-book mark.green {
    background: linear-gradient(to bottom, rgba(67,226,15,1) 0%,rgba(39,229,54,0.5) 60%,rgba(39,229,54,1) 100%);
}

.open-book mark.orange {
    background: linear-gradient(to bottom, rgba(255,134,9,1) 0%,rgba(255,177,34,0.5) 60%,rgba(255,177,34,1) 100%);
}

.open-book hr {
    background-color: #000;
    border: 0;
    height: 2px;
    margin: 1em 0;
}

.open-book dl {
    border: solid 0 #ccc;
    border-width: 0.0625em 0;
    break-inside: avoid-column;
    margin: 1em auto;
    padding: 1em 0;
}



/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 60em ) {

    .open-book {
        margin: 1em;
        position: relative;
    }

    .open-book:before {
        background-color: #8B4513;
        border-radius: 0.25em;
        bottom: -1em;
        content: '';
        left: -1em;
        position: absolute;
        right: -1em;
        top: -1em;
        z-index: -1;
    }

    .open-book:after {
        background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
        bottom: -1em;
        content: '';
        left: 50%;
        position: absolute;
        top: -1em;
        transform: translate(-50%,0);
        width: 4em;
        z-index: 1;
    }

    .open-book > * {
        column-count: 2;
        column-gap: 6em;
        position: relative;
        z-index: 1;
    }

    /* Header/Footer */
    .open-book header:before,
    .open-book header:after,
    .open-book footer:before,
    .open-book footer:after {
        background: #fff;
        border-radius: 25%;
        content: '';
        height: 2em;
        position: absolute;
        z-index: -1;
        width: calc(50% + 2em);
    }

    .open-book header:before,
    .open-book footer:before,
    .open-book footer:after {
        border-top-left-radius: 0;
    }

    .open-book header:after,
    .open-book footer:before,
    .open-book footer:after {
        border-top-right-radius: 0;
    }

    .open-book header:before,
    .open-book header:after,
    .open-book footer:after {
        border-bottom-right-radius: 0;
    }

    .open-book header:before,
    .open-book header:after,
    .open-book footer:before {
        border-bottom-left-radius: 0;
    }

    .open-book header:before,
    .open-book header:after {
        top: -2.65em;
    }

    .open-book header:before,
    .open-book footer:before {
        right: 50%;
    }

    .open-book header:before {
        transform: rotate(-2deg);
    }

    .open-book header:after,
    .open-book footer:after {
        left: 50%;
    }

    .open-book header:after {
        transform: rotate(2deg);
    }

    .open-book footer:before,
    .open-book footer:after {
        bottom: -2.65em;
    }

    .open-book footer:before {
        transform: rotate(2deg);
    }

    .open-book footer:after {
        transform: rotate(-2deg);
    }

    .open-book header > *:last-child,
    .open-book footer > *:last-child {
        text-align: right;
    }

    .open-book footer #page-numbers {
        display: block;
    }

    /* Chapter Title */
    .open-book .chapter-title {
        font-size: 1.5em;
    }

    .open-book .chapter-title:before,
    .open-book .chapter-title:after {
        height: 0.125em;
    }

    /* Body Copy */
    .open-book article p {
        text-indent: 3em;
    }

    .open-book article > ul,
    .open-book article > ol {
        padding-left: 4em;
    }

}

.delete-saved-show-btn{
  border-radius: 12%;
  transition-duration: 0.5s;
  width: 28px;
}

.unsave-btn {
  position: absolute;
  top: 19em;
  left: 1.2em;
  border: none;
}

.delete-saved-show-btn:hover {
  border-radius: 12%;
  background-color: red;
}


/* end */

/* Note */

.note-container {
  position: absolute;
  right: 0;
  margin-top: 8em;
  margin-right: 3em;
}

.delete-note {
  position: absolute;;
  top: -0.1em;
  left:-0.15em;
  float:left;

  transform: scale(0.9);
  border-radius: 30%;
  border: none;
  background-color: #F7E999;
  font-size: 16px;
}

.display-btn {
  background-color:#F7E999;
  border: none;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 2em;
  bottom: 0.24em;
}

.single-note {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis !important;
  list-style: none;
  width: 240px;
  height: 160px;
  background-color: #F7E999;
  box-shadow: 2px 2px 2px;
  position: relative;
  margin-top: 2em;
  padding: 22px 15px 15px 15px;
  border-bottom: solid 10px #F7E999;

  -webkit-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
}

@media only screen and (max-width: 1350px) {
  .single-note {
    width: 150px;
  }

  .notes-form {
    width: 150px;
    height: 180px;
  }

  .note-input-feild {
    width: 120px;
    height: 100px;
  }

  .scrapbooknews-img {
    width: 20em;
  }

  .note-container {
    top: 3em;
    margin-right: 1em;
  }

  #container {
    margin-left: -5.5em;
  }
}

.notes {
  margin-top: 13em;
}

.notes-form {
  right: 0.2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  box-shadow: 4px 4px 2px;
  margin-left: 2.6em;
  background-color: #F7E999;
  position: absolute;
  padding-left: 1em;
  box-sizing: border-box;
  padding-right: 1em;
}

.submit-note {
  border: none;
  float: right;
  background-color: #F7E999;
  border-bottom: black 1px solid;
}

.note-input-feild {
  border: 0px solid;
  background-color: #F7E999;
}

.note-label {
  font-weight: 600;
}

.radio-checkbox-container {
  font-weight: 900;
  margin-bottom: 14px;
  padding: 18px;
  font-size: 15px;
}

.radio-label {
  margin-right: 1em;
  float: left;
  vertical-align: middle;
}

/* end */

/* Scrapbook News Tile */

.no-post {
  text-align: center;
  margin-top: 4em;
}

.book-image {
  border-radius: 3%;
  margin-top: 9.5em;
  margin-left: 2em;
  width: 320px;
  height: 200px;
}

.link-saved{
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 25px;
  font-weight: 900;
}

.book-container {
  display: inline-block;
  margin-top: -5em;
  z-index: 1;
  perspective:3000px;
  transform: scale(0.5)
}

.book-container .book {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;

  margin-left: 2.2em;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg,  #71380F 0%, rgb(59, 29, 8) 100%);
  font-family: acumin-pro, sans-serif;
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  font-weight: 400;
  color: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.book-container .book:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.book-container .book > div,
.book-container .book-front > div {
  display: block;
  position: absolute;
}


.book-container .book-front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.book-container .book-front > div {
  width: 400px;
  height: 550px;
}

.book-container .book-left-side{
  width: 40px;
  left: -20px;
  height: 550px;
  background-color: rgba(232,229,234);
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.book-cover svg{
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
  width: 300px;
}

.book-author{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 100px;
  left: 50px;
  margin-right: 0.8em;
  margin-left: 0.8em;
  opacity: .8;
  }

.book-container .book-front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
  inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.book-container .book-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.book-container .book-cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.book-container h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.book-cover {
 background: linear-gradient(45deg,  #71380F 0%, rgb(75, 38, 11) 100%);
}


.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:last-child{
  font-family: acumin-pro, sans-serif;
} 

/* end */

@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

/* login & Sign up */

.sign-up-name {
  margin-bottom: 10px;
}

.login-body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.login-header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.login-header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.login-header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

a {
  text-decoration: none;
}

.member-link {
  margin-left: 1.9em;
  color: white;
  margin-top: 1em;
}

/* end */

.submit-highlight-btn{
  font-size: 30px;
  font-weight: 700;
}

.highlight-menu-container{
  padding-top: 1em;
}

.selected-title {
  font-weight: 900;
}

.highlight-tag-container {
  margin-top: 1em;
  color: #549e63;
  display: block;
  font-size: 1em;
  list-style: none;
}

.eraser {
  width: 25px;
}

.del-btn-highlight{
  border: none;
  transition-duration: 0.5s;
}

.del-btn-highlight:hover {
  border: none;
  transform: scale(1.2);
}

