
/* NewsLists */

body, html {
    font-family: 'Roboto Slab', serif;
    /* margin: 0; */
    width: 100%;
    height: 100%;
    padding: 0;
 }
 
 body {
   background-color: #D2DBDD;
   -webkit-align-items: center;
   justify-content: center;
   align-items: center;
 }

 .newsImg {
    display: block;
     width: fill;
     height: 12em;;
 }
 
 .newsCards {
     display: inline-block;
     justify-content: center;
     -webkit-justify-content: center;
     max-width: 40em;
     padding-left: 200px;
     padding-right: 200px;

     /* border: solid blasck; */
     box-sizing: border-box;
 }

 .card {
   transition: all .4s;
   background-color: #fff;
   width: 100%;
   position: relative;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
 }

 .card:hover {
   box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
   transform: scale(1.05, 1.05);
 }
 
 .card__info {
   z-index: 0;
   background-color: #fff;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
 }
 
 .card__by {
     font-size: 12px;
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
 }
 
 .card__link {
     font-weight: 600;
     text-decoration: none;
     color: #AD7D52;
 }
 

/* end */